<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form - Amrita</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/styles1.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">

     


    <style>
    body {font-family: "Raleway", Arial, sans-serif}
    .w3-row img {margin-bottom: -8px}
    </style>

</head>

<body>
    

    <div class="w3-content" style="max-width:1500px">
        <header class="w3-container w3-xlarge w3-padding-24" style="background-color: #a4123f;">
          <img src="css/images/logo2.png" style="max-width: 15%; height: auto;" class="w3-left ">
            
            <div class="dropdown">
                <button class="dropbtn">MENU</button>
                <div class="dropdown-content">
                 
                  <a href="/">LOGOUT</a>
                </div>
            </div>
            
            <a href="/admin" class=" w3-button " style="background-color: #a4123f; color: #fdfdfd;">STUDENT DETAILS</a>
            
            
            
        </header>
            <div class="w3-row w3-padding-large w3-padding-32" style="background-color: rgb(255, 255, 255);">
                <img src="css/images/logo.png" >

                <br>
                <br> 
                
                <br>
                <h3>ADMIN ACCOUNT </h3>
                <h1>____________________________________________________________________________________</h1>
                <br>
                <div class="w3-light-grey w3-padding-64 w3-center">
                     <div class="row">
                      <div class="col-md-3">
    
                      </div>
                        <div class="col-md-6 main">
                    <form action="/marksup" method="POST">
                      <h4>ROLL-NUMBER:{{data.Roll_no}}</h4>
                       <table id="customers">
                         <tr>
                         <th>SUBJEST</th>
                         <th>SUBJECT-CODE</th>
                         <th>MARKS</th>
                        </tr>
                        <tr>
                           <td>ADVANCE  JAVA</td>
                         <td>20CSA501</td>
                        <td><input type="text" class="box" id="m1" name="m1" placeholder="GRADE" required /></td>
                          </tr>
                        <tr>
                         <td>PYTHON</td>
                      <td>20CSA502</td>
                        <td><input type="text" class="box" id="m2" name="m2" placeholder="GRADE" required /></td>
                       </tr>
                    <tr>
                    <td>DATA MINING</td>
                    <td>20CSA503</td>
                    <td><input type="text" class="box" id="m3" name="m3" placeholder="GRADE" required /></td>
                     </tr>
                    <tr>
                     <td>ADVANCE AI</td>
                     <td>20CSA504</td>
                     <td><input type="text" class="box" id="m4" name="m4" placeholder="GRADE" required /></td>
                   </tr>
                    <tr>
                      <td>MEAN STAKES</td>
                     <td>20CSA505</td>
                      <td><input type="text" class="box" id="m5" name="m5" placeholder="GRADE" required /></td>
                     </tr>
                      </table>
                    <input type="submit" value="Submit" id="submit" />
              </form>
              </div>
              </div>
            </div>
                <br>
                <H6>AMMA:</H6>
                <P>"Be like the honeybee who gathers only nectar wherever it goes. Seek the goodness that is found in everyone."</P>
               
            </div>
        
    </div>
        
</body>

</html>